
.paginateBox {
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
  list-style: none;
  margin: 20px;

}


.paginateBox li {
    padding: 5px 15px;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    border: 1px solid #be32d3;
    cursor: pointer;
}


.activePaginateLink {
  background-color: #be32d3;
  color: white !important;
}