
$color-shadow:  0 .125rem .25rem rgba(0,0,0,.075);

$cl-blue: #007bff;
$cl-text: #be32d3;
$cl-indigo: #6610f2;
$cl-purple: #6f42c1;
$cl-pink: #e83e8c;
$cl-red: #ee5f5b;
$cl-orange: #fd7e14;
$cl-yellow: #f89406;
$cl-green: #62c462;
$cl-teal: #20c997;
$cl-cyan: #5bc0de;
$cl-white: #fff;
$cl-gray: #7a8288;
$cl-gray-dark: #3a3f44;
$cl-primary: #3a3f44;
$cl-secondary: #7a8288;
$cl-success: #62c462;
$cl-info: #5bc0de;
$cl-warning: #f89406;
$cl-danger: #ee5f5b;
$cl-light: #e9ecef;
$cl-dark: #272b30;
$dark-primary: #1c1e22;