$phone-width-min: 0px;
$phone-width-max: 599px;

$tablets-portrait-width-min: 600px;
$tablets-portrait-width-max: 767px;

$tablets-landscape-width-min: 768px;
$tablets-landscape-width-max: 991px;

$desktops-width-min: 992px;
$desktops-width-max: 1199px;

$wide-screen-width-min: 1200px;
